* {
  margin: 0;
  padding: 0;
}

body {
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: auto auto;
}

section {
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 400px;
  box-shadow: 0px 0px 43px 17px #999999;
}

#previous-display {
  text-align: right;
  height: 30px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 15px;
}

#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}

.buttons {
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}

.button {
  border: 0.5px solid #999;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

#equal {
  background-color: #5555ff;
  color: white;
}

.button:hover {
  background-color: #323330;
  color: white;
  transition: 0.5s ease-in-out;
}