* {
  margin: 0;
  padding: 0;
}

body {
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: auto auto;
}

section {
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
}

.calculator {
  width: 400px;
  box-shadow: 0px 0px 43px 7px black;
  border-radius: 45px;
  border: 6px solid black;
}

#previous-display {
  text-align: right;
  height: 30px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 15px;
}

#display {
  background-color: white;
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
  border: 3px solid black;
  border-radius: 45px;
  margin: 7px 3px;
}

.buttons {
  display: grid;
  padding: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 45px;
}

.buttons > div {
  background-color: white;
  border-top: 4px solid black;
  border-right: 4px solid black;
  border-radius: 45px;
}

.button {
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

#equal {
  background-color: #5555ff;
  color: white;
}

.button:hover {
  background-color: #323330;
  color: white;
  transition: 0.5s ease-in-out;
}